body {
  color: #fff;
  background-color: #1e2124;
}

body, h1, h2 {
  font-family: 'Segoe UI', Roboto, sans-serif;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  display: block;
}

/* Jumbotron */

.jumbotron {
  background-color: #2f3136;
}

.jumbotron p {
  color: hsla(0,0%,100%,.6);
  font-size: 18px;
}

/* Table */

.table {
  color: hsla(0,0%,100%,.6);
  background-color: #2f3136;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(32,34,37,.3);
 }

.table-bordered, table-bordered>thead>tr>th, .table-bordered>thead>tr>th, table-bordered>tbody>tr>th, .table-bordered>tbody>tr>th, table-bordered>tfoot>tr>th, .table-bordered>tfoot>tr>th, table-bordered>thead>tr>td, .table-bordered>thead>tr>td, table-bordered>tbody>tr>td, .table-bordered>tbody>tr>td, table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>td {
  border: 1px solid #1e2124;
}

.table-hover>tbody>tr:hover {
  background-color: #36393e;
}

/* Panel */

.panel {
  background-color: #2b2c31;
  border: 0px;
  border-radius: 0px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
}

.panel-default {
  position: relative;
}

.panel-body {
  border-radius: inherit;
}

/* Label */

.label-default {
  background-color: #7289da;
}

.label {
  padding: .1em .3em .1em;
  border-radius: .15em;
  font-size: 75%;
}

/* Media */

.media {
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(50, 52, 56, 0.6);
  /*border-radius: 5px;*/
  /*box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);*/
}

.media-left {
  padding: 0px;
}

.media-body {
  padding: 10px;
  color: hsla(0,0%,100%,.6);
}


.media-right {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 10px;
  color: hsla(0,0%,100%,.3);
}

.media-heading {
  font-weight: normal;
  font-size: 14px;
  color: hsla(0,0%,100%,.8);
}

/* Form */

.form-control {
  border: none;
  border-radius: 0;
  color: inherit;
  background-color: #2f3136;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 4px rgba(255, 255, 255, 0.6)
}

.btn {
  height: 34px;
  border: none;
  border-radius: 0;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
  background-color: #7289da;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary:focus:hover {
  background-color: #697ec4;
}

.btn-danger, .btn-danger:active, .btn-danger:focus, .btn-danger:active:focus {
  background-color: #da7272;
}

.btn-danger:hover, .btn-danger:active:hover, .btn-danger:focus:hover {
  background-color: #c46969;
}

/* Popover */

.popover {
  padding: 0;
  border: none;
}

.popover-content {
  padding: 0;
}

.popover.top>.arrow:after {
  border-top-color: #da7272;
}

/* Loading */

@keyframes loading-fade-in {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 0.5;
  }
}

.loading-fade-in {
  animation: loading-fade-in 0.5s;
}